.header {
    text-align:center;
}
body{
background-color: rgb(255, 255, 255);
}
a {
    display:block;
    width:100%;
    text-align:center;
}
.stripe{
height: 100%;
width: 200px;
float: left;
}
 
.flag{
   width: 600px;
   height: 400px;
   margin: auto;
   position: relative;
}   
    .blue{
        background-color: #012169;
    }
    .yellow{
        background-color: #F3D54E;
    }
    .img{
      position:absolute;
      top:100px;
      left: 210px;
    }
    img{
        height:200px
    }