.green {
	background: #007a5e;
}
.red {
background: #ce1126;
}
.yellow {
background:#fcd116;
}

/* cameroon: proportion 2:3 */
.flag {
  height: 400px; /* 200 * 2 = 400 */
  width: 600px; /* 200 * 3 = 400 */
}

/* reverse the stripe dimensions */
.stripe {
  height: 100%; 
  width: 200px; /* 200 * 3 = 600 */
  float:left;
}

.stripe.red p {
  font-size: 100px;
  line-height: 100px;
  margin-top: 150px;
  text-align: center;
  color: #fcd116;
}

