.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:1200px;
    height:600px;
    margin:auto;
}

.stripe {
    width:400px;
    height: 100%;
    float: left;
}

.green{
    background:#169B62;
}
.white{
    background:#FFFFFF;
}
.orange{
    background:#FF883E;
}