.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:800px;
    height:600px;
    margin:auto;
}

.stripe {
    width:100%;
    height: 200px;
}

.green {
    background-color:#009639;
}

.yellow {
    background-color:#FFD100;
}

.blue {
    background-color:#003DA5;
}